*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #ffffff;
    --green: #839d83;
}



/* flexbox */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  width: 50%;
  flex-grow: 1;
  height: auto;
  margin: 1rem;
}


/* Header */
header {
    display: flex;
    justify-content: center;
}

header img {
    width: 12rem;
    padding: 1rem;
    margin-top: 1rem;
}



/* Navbar */
/* Hentet fra https://stackoverflow.com/questions/63960934/i-want-to-close-this-side-bar-by-clicking-same-button*/
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #869e86;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fbf8f8;
    display: block;
    transition: 0.3s;
}

.nav a:hover {
    color: #cfd8cf;
}

  
.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--green);
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: var(--white);
    color: var(--green);
}

#main {
    transition: margin-left .5s;
    padding: 1rem;
  }

  #mySidebar.open { 
    width:250px; 
  }
  #main.open { 
    margin-left:250px; 
  }



/* main og tittel sections*/
main {
    font-family: 'Roboto', sans-serif;
    margin: 3rem;
    display: table;
    width: 95%;
    border: 0.5rem solid white;
    padding: 2rem;
}

tittel {
    display: flex;
    margin-left: 2rem;
    margin-right: 6rem;
}



/* boks til tittel*/
.boxTittel {
    display: flex;
    padding: 1rem;
    margin-left: 3rem;
    width: 100%;
    height: auto;
    border: 1px solid;
    background-color: var(--green);
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 0.19rem;
    box-shadow: 1rem 1rem #93939323;
    margin-bottom: -3rem;
}



/*spinning logo */
.logoSpinning img {
    animation-name: spin;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

.logoSpinning2 img {
    margin-left: 1.7rem;
    margin-top: -2rem;
    width: 6.3rem;
    margin-bottom: 3rem;
    animation-name: spin;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  /* ting til intro*/
.boxIntro {
  width: 100%;
  height: auto;
  text-align: left;
  line-height: 2rem;
  padding-top: 3rem;
  position: relative;
}

img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.bildeIntro {
  margin: 0 auto;
  position: relative;
}

.bildeIntro img {
  border-radius: 50%;
}

.bildeTekst-intro{
  width: 50%;
  margin: 1rem auto 0 auto;
}

.bildeTekst-intro h3 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.bildeTekst-intro p {
  line-height: 2rem;
  font-size: smaller;
}

.bildeTekst-kilde {
  width: 5rem;
  margin: -1.5rem auto 0rem auto;
  position: relative;
  color: #939393a2;
  
}

.knapp-intro {
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  margin: 3rem auto -2rem auto;
  border:2px solid #869e86;
  background-color: white;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

.knapp-intro:hover {
  background-color: #869e86;
  color:white;
}



/* ting til grafer*/
.tekstGraf {
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
  margin-left: 1.5rem;
}

.tekstGraf p{
  font-size: 0.8rem;
}

.graf1 {
  width: 90%;
  height: 20rem;
  margin: -4.5rem auto 3rem auto;
}

.graf h1{
  font-size:0.9rem;
  text-align: center;
}

.graf2 {
  width: 90%;
  height: 20rem;
  margin: -3.5rem auto 0 auto;
  }



/*Grønn section*/
.grønn-section {
  margin: 3rem auto 3rem auto;
  padding: 4rem;
  padding-bottom: 6.5rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--green);
  color: var(--white);
}



/* bokser til paragrafer*/
.boxP1 {
    width: 100%;
    height: auto;
    text-align: left;
  }

.boxP2 {
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: -4rem;
  line-height: 2rem;
}

.boxP3 {
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 1rem;
  line-height: 2rem;
}
.boxP3 p {
  margin-bottom: 3rem;
}

.boxP4 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: left;
  line-height: 2rem;
  margin-top: 1rem;
}

.boxP4 p {
  margin-bottom: 1rem;
}



/*Kildeboks*/
.utenBullets {
  list-style-type: none;
  padding-bottom: 1rem;
}

.kilder1{
  font-size: smaller;
}

.kilder2 {
  display: none;
}

 /* Footer */

 footer{
  background-color: #869e86;
}

.boxFooter {
  padding: 5rem;
}


/*Media for header og navbar*/

  /* tablet*/
@media screen and (max-width: 768px) and (min-width: 450px) {

  /*Flexbox + main - små endringer*/
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .item {
      width: 100%;
      flex-grow: 1;
      height: auto;
      margin: 0 auto;
    }

    main {
        width: 100%;
        margin: 1rem;
      }


    /*Header flyttes */
    header {
        justify-content: flex-start;
    }
    
    header img {
        width: 7rem;
        padding: 1rem;
    }


    /*Nav-knapp blir mindre*/
    .openbtn {
      font-size: 2rem;
    }


    /* Tittelboks minskes*/
    .boxTittel {
      font-size: medium;
      margin-left: 4rem;
      width: 110%;
    }


    /*Knapp blir større og  midtstilles*/
    .knapp-intro {
      width: 90%;
      margin-bottom: 3rem;
    }


    /*Bokser til paragrafer - små endringer*/
    .boxP1 {
      width: 100%;
      margin-top: -1rem;
    }

    .boxP2 {
      margin-bottom: 2rem;
    }

    .boxP4 {
      width: 100%;
    }



    /*Kilder*/
    .kilder1 {
      display: none;
    }
    .kilder2 {
      font-size: smaller;
      visibility: visible;
    }



    /*Gir grønn section full bredde*/
    .grønn-section {
      width: 105%;
      padding-bottom: 2.9rem;
    }



    /*Endre størrelse på grafer*/
    .graf1 {
      width: 95%;
      margin: 0 auto 7rem auto;
    }
    
    .graf2 {
      width: 95%;
      margin: 1rem auto 9rem auto;
    }
    
}

/* mobile */
@media screen and (max-width: 450px){

  /* header flyttes*/
  header {
      justify-content: flex-start;
  }

  header img {
      width: 6rem;
      padding: 0.5rem;
  } 



  /*Flexbox + main - små endringer*/
  .container {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  main {
    width: 100%;
    margin: 1rem;
  }



  /*Gjør nav-knapp og img inni nav mindre*/
  .nav a{
    font-size: medium;
  }

  .logoSpinning2 img{
    width: 5.5rem;
  }
 
 

 /*Tekst i tittelboks blir mindre*/
  .boxTittel {
    font-size: small;
  }



  /*Knapp midtstilt og større*/
  .knapp-intro {
    width: 90%;
    margin-bottom: 3rem;
  }



  /*Endrer størrelse på grafer*/
  .graf1{
    width: 80%;
  }

  .graf2 {
    margin-top: 0.1rem;
    margin: 0.1rem auto 5rem auto
  }

  .graf h1{
      font-size: 0.85rem ;
      text-align: center;
    }

  .graf p {
      font-size: 0.7rem;
    }



  /*Gir grønn section nok lengde og bredde*/
  .grønn-section {
    padding-bottom: 9rem;
    width: 105%;
  }



  /*Paragraf endres - mindre tekst*/
  .boxP1 {
      padding: 1rem;
      width: 100%;
      font-size: smaller;
      line-height: 1.3rem;
      margin-top: -3rem;
    }

   .boxP3 {
    margin-top: 2.5rem;
   } 

  .boxP4 {
    width: 100%;
  }



  /*Kilder*/
  .kilder1 {
    display: none;
  }

  .kilder2 {
    font-size: smaller;
    visibility: visible;
  }

}
@media screen and (min-width: 768px){
  /*Gjemme logo i navbar*/
    .logoSpinning2{
        visibility: hidden;
    }


    /*Gjøre graf lenger*/
    .graf2 {
      height: 22rem;
    }
}
@media screen and (min-width: 1370px){
  /*Flytte tekst for å unngå overlapping med graf2*/
  .boxP4 {
    margin-top: 4rem;
  }
}