* {
    margin: 0 auto;
    outline: 1px solid red;
    outline-offset: -1px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5fffa;
    color:#382c20;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 1.7rem;
    position: relative;   
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: 0.15rem;
    width: 50rem;
}

.tekst {
    text-align: justify;
    text-align-last: center;
    width: 50rem;
    margin-top: 3rem;
}

.booking-boks {
    width: 50rem;
    text-align: center;
    margin-top: 4rem;
}

.booking-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    background-color: #637863;
    padding: 0.6rem 3rem;
    text-decoration: none;
    color: #f5fffa;
    border-radius: 0.8rem;
    letter-spacing: 0.1rem;
    transition: 0.2s;
}

.booking-link:hover {
    background-color: #414d41;
}


.kort-info {
    font-family: 'Bebas Neue', cursive;
    background-color: #d1eacd;
    color: #382c20;
    height: 13rem;
    margin-top: 7rem;
}

.bredde1 {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
}

.kapasitet {
    text-align: center;
    margin: 0rem;   
}

.kapasitet h3 {
font-size: 2.2rem;
padding-bottom: 0.5rem;
letter-spacing: 0.1rem;
}

.kapasitet p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.mer-info {
    width: 35rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.column1 {
    margin-top: 3rem;
}

.column1 h2 {
    margin-bottom: 1rem;
}

.column1 ul {
    list-style-type: none;
    padding: 0;
    line-height: 2.2rem;
}

.vertikal-linje {
    border-left: 0.4rem dotted #637863;
    height: 31rem;
}

#lokalet-passer-til {
    text-align: right;
}


.lokasjon {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.kart {
    width: 65%;
    height: 16rem;
    border: 0;
    margin: 0rem;
    border-radius: 0.8rem;
}

.info-om-lokasjon {
    margin: 0rem;
}

span {
    display: block;
}

.info-om-lokasjon h2 {
    text-align: right;
}

.info-om-lokasjon p {
    text-align: right;
    margin: 1.4rem 0rem;
}

.pris {
    background-color: #d1eacd;
    height: 22rem;
    margin-top: 5rem;
}

.bredde2 {
    width: 50rem;
    line-height: 1.5rem;
    padding-top: 3.5rem;
}

.pris h2 {
    margin-bottom: 2rem;
}

.bokser {
    display: flex;
    justify-content: space-between;  
    margin: 2rem 0rem; 
}

.boks {
    font-weight: 600;
    background-color: #f5fffa;
    border-radius: 0.8rem;
    width: 8rem;
    padding: 1rem 1rem;
    text-align: center;  
    margin: 0;
}

.bilder {
    width: 50rem;
    margin-top: 5rem;
    position: relative;
}

.scroll {
    overflow: auto;
    white-space: nowrap;
    background: transparent;
    height: 30rem;
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  
  .scroll img {
    margin-right: 0.5rem;
    height: 30rem;
  }

  .pekefinger img {
    position: absolute;
    width: 3.5rem;
    transform: rotate(330deg);
    top: 32rem;
    left: 48.5rem;
}

.pekefinger p {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    width: 11rem;
    font-size: 1.2rem;
    margin-top: 4.3rem;
    top: 31.5rem;
    left: 46rem;
}





.booking {
    width: 50rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
 }
 
 .booking h2 {
     float: left;
 }
 
 .booking p {
     margin: 2rem 0rem;
     float: left;
 }





form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
 }

 .booking-input {
    position: relative;
    width: 20rem;
 }

 .booking-input label {
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    width: 20rem;
    
 }
input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0rem;
    outline: none;
    border: solid #b4b4b4;
    border-radius: 0.3rem;
    transition: 0.2s;
 }
 




input:focus {
    outline: 0.15rem solid #637863;
 }

 .booking-button {
     font-family: 'Bebas Neue', cursive;
     font-size: 1.3rem;
     width: 7rem;
     background-color: #637863;
     color: #f5fffa; 
     padding: 0.6rem;
     border-radius: 0.8rem;
     letter-spacing: 0.1rem;
     margin: 1rem 0rem;
     border: none;
     transition: 0.2s;
 }
 
 .booking-button:hover {
     background-color: #414d41;
 }
 
 ::placeholder {
     color: #637863;
 }


@media only screen and (max-width: 850px) {
    body {
        font-size: 0.9rem;
    }
 
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: 0.08rem;
        width: 90%;
    }
    
    .tekst {
        width: 90%;
        margin-top: 2rem;
    }
    
    .booking-boks {
        width: 90%;
        margin-top: 3rem;
    }
    
    .booking-link {
        font-size: 1.3rem;
    }
    
    .kort-info {
        margin-top: 4rem;
    }
    
    .bredde1 {
        width: 90%;
    }

    .mer-info {
        width: 80%;
        margin-top: 4rem;
    }

    .lokasjon {
        width: 90%;
    }
    
    .kart {
        width: 100%;
        order: 1;
    }

    span {
        display: contents;
    }
    
    .info-om-lokasjon h2 {
        text-align: left;
    }
    
    .info-om-lokasjon p {
        text-align: left;
    }
    
    .bredde2 {
        width: 90%;
    }
    
    .boks {
        width: 15%;
    }
    
    .bilder {
        width: 90%;
        margin-top: 4rem;
    }

    .scroll {
        height: 25rem;
    }
  
    .scroll img {
        height: 25rem;
    }
    
    .pekefinger img {
        display: none;
    }
    
    .pekefinger p {
        display: none;
    }
    
    .booking {
       width: 90%;
       margin-top: 4rem;
    }
     /*få teksten til venstre*/
    .booking p {
        float: left;
    }
    
    input {
        width: 90%;
        flex-grow: 1;
    }
}


@media only screen and (max-width: 480px) {
    body {
        line-height: 1.5rem;
    }
    
    h1 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-top: 3rem;
    }
    
    .kort-info {
        height: 17rem;
    }
    
    .bredde1 {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2rem;
    }
    
    .kapasitet {
        margin: 1.5rem 0rem;  
        width: 9rem; 
    }

    .mer-info {
        margin-top: 0rem;
    }
    
    .column1 {
        width: 9rem;
    }
    
    .column1 ul {
        line-height: 1.8rem;
    }
    
    .vertikal-linje {
        display: none;
    }
    
    .pris {
        height: 27rem;
        margin-top: 3rem;
    }
    
    .bredde2 {
        padding-top: 3rem;
    }
    
    .pris h2 {
        margin-bottom: 1rem;
    }
    
    .bokser {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem 0rem; 
    }
    
    .boks {
        width: 7rem;
        padding: 0.8rem 0.8rem;
        margin: 0.5rem 0.5rem;
    }
    
    .bilder {
        margin-top: 3rem;
    }

    .scroll {
        height: 15rem;
    }
  
    .scroll img {
        height: 15rem;
    }
    
    .booking {
       margin-top: 3rem;
    }

  }
