*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f5fffa;
    color:#382c20; 
    letter-spacing: 0.02rem;
    /*border: solid red 1px;*/
}



/* Header */

header img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    margin: 2rem;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #E68B61;
}

.nav-booking {
    background-color: #E68B61;
    border-radius: 2rem;
}

.nav-booking:hover {
    background-color: #663D0A;
}
/* lagt inn bredden for selve menyen under class meny. Padding for avstand fra nav bar*/

/* https://unsplash.com/photos/Ww8eQWjMJWk */

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
.container {
    position: relative;    
}

.centered {
    position: absolute;
    background: none;
    color: #5a3c3c;
    width: 40%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container img{
    width: 100%;
}

/*minsker tekst i header slik at teksten passer til bilde*/
@media only screen and (max-width: 600px) {
    .centered{ font-size: 14px;
        padding: 0rem;
}
}
@media only screen and (min-width: 768px) {
    .centered{ font-size: 20px;
        padding: 0rem;
}
}

@media only screen and (min-width: 850px) {
    .centered{ font-size: 34px;
        padding: 0rem;
}
}

.meny{
    margin: auto;
    padding-top: 5rem;
}

.åpningstider{
    text-align: center;
}

/*sjekk h kategori*/
h1{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 4rem;
    padding: 2rem;
    color: #5a3c3c;
}


h2{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #5ca5ad;
    font-size: 2.2rem;
    padding-bottom: 2rem;
}


h3{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    overflow: hidden;
}

.tittel {
    text-align: center;
    margin-top: 3rem;
}

.frokostmeny {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-meny {
    padding: 1.5rem;
    flex-basis: 33rem;

}
.box-meny-frokostbilde{
    padding: 1.5rem;
    flex-basis: 23rem;
}

.minitittel {
    padding-bottom: 1rem;
}

.matrett {
    padding-bottom: 2rem;
}

.allergener{
    font-size: 14px;
    padding-top: 0.6rem;
}


/*https://unsplash.com/photos/vLHzjRNFbEQ*/
.frokostmeny img{
    height: 30rem;
    border-radius: 2%;
}
@media only screen and (max-width: 850px) {
   .frokostmeny {
    flex-direction: column;
    align-items: center;
   }
}

.lunsjmeny{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.box-meny-lunsj {
    padding: 1.5rem;
    flex-basis: 56rem;
}

@media only screen and (max-width: 850px) {
    .lunsjmeny {
     flex-direction: column;
     align-items: center;
    }
 }

.dessertmeny{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box-meny-dessert {
    padding: 1.5rem;
    flex-basis: 33rem;
}

.box-meny-dessert-bilde {
    padding: 1.5rem;
    flex-basis: 23rem;
}


.dessertmeny img{
    height: 30rem;
    border-radius: 2%;
}
@media only screen and (max-width: 850px) {
    .dessertmeny {
     flex-direction: column;
     align-items: center;
    }
 }


/*Brukt grid for å dele opp drikkemeny i kolonner: https://www.w3schools.com/css/css_grid.asp*/
.drikkemeny{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-template-columns: 25rem 25rem;
    gap: 5rem 6rem;
}

.drikke{
    padding: 1.5rem;
}

/*Flytter kolonnene under hverandre */
@media screen and (max-width: 850px) {
    .drikkemeny {
    grid-template-columns: auto;
    gap: 2rem;
    }
    
  }

  /* Footer */






