*, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#382c20; 
    letter-spacing: 0.02rem;
    /*border: solid red 1px*/
}

/* Header */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 20rem;
    padding-top: 3rem;
}

/* Navbar */

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #869e86;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fbf8f8;
    display: block;
}

nav a:hover {
    color: #cfd8cf;
    transition: 0.3s;
}
  
.openbtn {
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    color: #869e86;
    padding: 0.3rem 1rem;
    border: none;
}
  
.openbtn:hover {
    background-color: #9ebb9ebf;
    color: #ffffff;
    transition: 0.3s;
}

#main {
    transition: 0.5s;
    margin-left: 1rem;
}

#mySidebar.open {
    width: 13rem;
}

#main.open {
    margin-left: 14rem;
}

/* Bildekilde header: https://unsplash.com/photos/0uAVsDcyD0M */

/*Hovedbilde med tekst. Kode hentet fra: https://www.w3schools.com/howto/howto_css_image_text.asp */
main{
    background-color: #f5fffa;
}
.container {
    position: relative;    
}

.centered {
    position: absolute;
    background: none;
    width: 40%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(250, 249, 249, 0.5); /* background with 0.5 opacity */
  }

.container img {
    width: 100%;
}


.meny {
    margin: auto;
    padding-top: 5rem;
}

.åpningstider {
    text-align: center;
}


h1 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 4rem;
    padding: 2rem;
    
}


h2 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #5ca5ad;
    font-size: 2.2rem;
    padding-bottom: 2rem;
}


h3 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    overflow: hidden;
}

.tittel {
    text-align: center;
    margin-top: 3rem;
}

.matrett-innhold {
    padding-bottom: 1rem;
}

.matrett {
    padding-bottom: 2rem;
}

.allergener {
    font-size: 14px;
    padding-top: 0.6rem;
}

/*Frokostmeny*/
.frokostmeny {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-meny {
    padding: 1.5rem;
    flex-basis: 33rem;

}
.box-meny-frokostbilde {
    padding: 1.5rem;
    flex-basis: 23rem;
}

/*Bildekilde frokostbilde: https://unsplash.com/photos/vLHzjRNFbEQ*/
.frokostmeny img {
    height: 30rem;
    border-radius: 2%;
}

/*Lunsjmeny*/
.lunsjmeny {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.box-meny-lunsj {
    padding: 1.5rem;
    flex-basis: 56rem;
}

/*Dessertmeny*/
.dessertmeny {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box-meny-dessert {
    padding: 1.5rem;
    flex-basis: 33rem;
}

.box-meny-dessert-bilde {
    padding: 1.5rem;
    flex-basis: 23rem;
}

/*Bildekilde dessertbilde: https://unsplash.com/photos/wRU27yGfSLQ*/
.dessertmeny img {
    height: 30rem;
    border-radius: 2%;
}


/*Drikkemeny*/
/*Brukt grid for å dele opp drikkemeny i kolonner: https://www.w3schools.com/css/css_grid.asp*/
.drikkemeny {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-template-columns: 25rem 25rem;
    gap: 1rem 6rem;
}

.drikke {
    padding: 1.5rem;
}


 /* Footer */

 footer{
    background-color: #869e86;
 }
.rad-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    
}

.kolonne-footer {
    margin: 1rem 3rem;
}

.kolonne-footer h2 {
    margin-bottom: 0.5rem;
    color: #382c20;
    padding-bottom: 0rem;
}


/* Font Awesome Icons er hentet fra:
https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/

.fa {
    padding: 0.3rem;
    margin: 0.3rem 0;
    width: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover, .telefonnr:hover {
    opacity: 0.4;
}

.fa-envelope {
    color: Salmon;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20%;
    margin-right: 0.3rem;
}

.fa-instagram {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
-webkit-text-fill-color: transparent;
}

.fa-twitter {
background: #55ACEE;
color: white;
border-radius: 50%;
}

.fa-phone {
color: #382c20;
}

.telefonnr {
text-decoration: none;
color: #382c20;
}

/*Flytter kolonnene under hverandre */
@media screen and (max-width: 850px) {

    body {
        font-size: 0.9rem;
    }

    h2 {
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
    }

    .drikkemeny {
    grid-template-columns: auto;
    grid-template-columns: 100%;

    }

    .centered { 
        font-size: 34px;
        padding: 0rem;
    }

    .frokostmeny {
        display: flex;
        justify-content: center;
        flex-direction: column;    
    }

    .lunsjmeny {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .dessertmeny {
        display: flex;
        justify-content: center;
        flex-direction: column;    
    }

    .centered { 
        font-size: 24px;
        padding: 0rem;
    }

    .box-meny-frokostbilde {
        display: flex;
        justify-content: center;
    }

    .box-meny-dessert-bilde {
        display: flex;
        justify-content: center;
    }
    .rad-footer {
        flex-direction: column;
        align-items: center;
    }
    
}

@media only screen and (max-width: 800px) {

    .centered { 
        font-size: 16px;
        padding: 0rem;
    }
}
@media only screen and (max-width: 480px) {

    body {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .centered { 
        font-size: 12px;
        padding: 0rem;
    }

    /* Footer 
    .rad-footer {
        display: none;
    }*/
}

 

  



