*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ece8;
    color: #3F3F3F;
    font-family: "Courier New"; /* Legge inn fallback value? */
    /*border: solid red 1px;*/
}

@font-face {
    font-family: "fira sans";
    src: url("https://use.typekit.net/vrz2vde.css");
}
/* Header */

header img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

/* Navbar */

nav {
    text-align: center;
    margin: 2rem;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #E68B61;
}

.nav-booking {
    background-color: #E68B61;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.nav-booking:hover {
    background-color: #663D0A;
}
/* lagt inn bredden for selve menyen under class meny. Padding for avstand fra nav bar*/

/* https://unsplash.com/photos/Ww8eQWjMJWk */

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
.container {
    position: relative;    
}

.centered {
    position: absolute;
    background: none;
    color: #5a3c3c;
    width: 40%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.container img{
    width: 100%;
}

/*minsker tekst i header slik at teksten passer til bilde*/
@media only screen and (max-width: 600px) {
    .centered{ font-size: 14px;
        padding: 0rem;
}
}

.meny{
    width: 70%;
    margin: auto;
    padding-top: 5rem;
}

.åpningstider{
    text-align: center;
}

/*sjekk h kategori*/
h1{
    text-align: center;
    font-size: 28px;
    padding-bottom: 4rem;
    padding: 2rem;
    color: #5a3c3c;
}


h2{
    color: #db5a23;
    font-size: 36px;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    h2{ font-size: 26px;
    }
}


h3{
    line-height: 4rem;
    overflow: hidden;
}

.allergener{
    font-size: 14px;
    padding-top: 0.6rem;
}

.frokostmeny {
    margin-top: 1.5rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Hvordan fjerne at teksten wrappes under bildet?*/


/*https://unsplash.com/photos/vLHzjRNFbEQ*/
.frokostmeny img{
    height: 30rem;
    margin: 6rem 1rem 2rem 3rem;
    border-radius: 2%;
}
 /*Hvordan få bilde midtstilt? */
@media only screen and (max-width: 600px) {
   .frokostmeny {
    flex-direction: column;
    align-items: center;
   }
}

.lunsjmeny{
    padding: 3rem;
}

.dessertmeny{
    padding: 3rem;
    margin-bottom: 2rem;
}

.dessertmeny img{
    height: 30rem;
    margin: 5rem 3rem 2rem 0rem;
    border-radius: 2%;
    float: left;
}

@media only screen and (max-width: 600px) {
    .dessertmeny img{
     margin-top: auto;
    }
 }

/*Brukt grid for å dele opp drikkemeny i kolonner: https://www.w3schools.com/css/css_grid.asp*/
.drikkemeny{
    display: grid;
    grid-template-columns: auto auto;
    padding: 3rem;
    gap: 6rem 8rem;
}

/*Flytter kolonnene under hverandre */
@media screen and (max-width: 600px) {
    .drikkemeny {
    grid-template-columns: auto;
    
    }
  }

  /* Footer */






