*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ece8;
    color: #3F3F3F;
    font-family: "Courier New"; /* Legge inn fallback value? */
}

/* Header */

header img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

/* Navbar */

nav {
    text-align: center;
    margin: 2rem;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: #E68B61;
}

.nav-booking {
    background-color: #E68B61;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.nav-booking:hover {
    background-color: #663D0A;
}

/* Slideshow bilder*/

.slideshow {
    position: relative;
    max-height: 30rem;
    overflow: hidden;
    margin: 1rem 0;
}

.bilde-slideshow img {
    width: 100%;
}

/* Neste- og tilbakeknapper */

.knapp-tilbake, .knapp-neste {
    position: absolute;
    top: 50%;
    width: auto;
    transition: 0.5s ease;
    padding: 1rem;
    user-select: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.knapp-tilbake:hover, .knapp-neste:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.3rem;
  }

/* Plasserer neste-knappen til høyre */

.knapp-neste {
    right: 0;
}

/* Sirklene */

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.dot:hover, .active {
    background-color: #717171;
}

/* Fade slideshow bilder */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Footer */

.rad-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.footercolumn {
    margin: 0.7rem 1rem;
}

.overskrift-footer {
    font-weight: bold;
}

/* Font Awesome Icons er hentet fra:
https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/

.fa {
    padding: 0.3rem;
    margin: 0.3rem 0;
    width: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.4;
}

.fa-envelope {
    color: Salmon;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20%;
    margin-right: 0.3rem;
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }

/* Responsive navigation menu for tablets */

@media screen and (max-width: 768px) {
    
}

/*Responsive navigation menu for mobile devices */

@media screen and (max-width: 480px) {
    nav {

    }
}