* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5fffa;
    color: #382c20;
    font-weight: 300;
    line-height: 1.7rem;
    letter-spacing: 0.02rem;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* Header */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 20rem;
    padding-top: 3rem;
}

/* Navbar */

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #869e86;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fbf8f8;
    display: block;
}

nav a:hover {
    color: #cfd8cf;
    transition: 0.3s;
}
  
.openbtn {
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    color: #869e86;
    padding: 0.3rem 1rem;
    border: none;
}
  
.openbtn:hover {
    background-color: #9ebb9ebf;
    color: #ffffff;
    transition: 0.3s;
}

#main {
    transition: 0.5s;
    margin-left: 1rem;
}

#mySidebar.open {
    width: 13rem;
}

#main.open {
    margin-left: 14rem;
}


/* Slideshow bilder*/

.slideshow {
    position: relative;
    max-height: 30rem;
    overflow: hidden;
    margin: 1rem 0;
}

.bilde-slideshow img {
    width: 100%;
}

/* Neste- og tilbakeknapper */

.knapp-tilbake, .knapp-neste {
    position: absolute;
    top: 50%;
    width: auto;
    transition: 0.5s ease;
    padding: 1rem;
    user-select: none;
    background-color: #869e86;
    opacity: 0.8;
    color: #f1ece8;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.knapp-tilbake:hover, .knapp-neste:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.3rem;
  }

/* Plasserer neste-knappen til høyre */

.knapp-neste {
    right: 0;
}

/* Sirklene */

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.dot:hover, .active {
    background-color: #717171;
}

/* Fade slideshow bilder */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Footer */

.rad-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.kolonne-footer {
    margin: 1rem 3rem;
}

.kolonne-footer h2 {
    margin-bottom: 0.5rem;
}

/* Font Awesome Icons er hentet fra:
https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/

.fa {
    padding: 0.3rem;
    margin: 0.3rem 0;
    width: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover, .telefonnr:hover {
    opacity: 0.4;
}

.fa-envelope {
    color: Salmon;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20%;
    margin-right: 0.3rem;
}

.fa-instagram {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
-webkit-text-fill-color: transparent;
}

.fa-twitter {
background: #55ACEE;
color: white;
border-radius: 50%;
}

.fa-phone {
color: #382c20;
}

.telefonnr {
text-decoration: none;
color: #382c20;
}

/* Responsive navigation menu for tablets */

@media screen and (max-width: 768px) {
    
    /* Header flyttes */
    header {
        justify-content: flex-start;
        margin-left: 1rem;
    }
    
    header img {
        width: 10rem;
        margin-bottom: 1rem;
    }
    
    /* Toggle menu */
    .openbtn {
        font-size: 2.5rem;
        padding: 0.3rem 0.5rem;
    }
    
    /* Skal eg heller sette visibility til hidden under enn å ha det i kolonne? */

    /* Info i footer går over til kolonne */
    .rad-footer {
        flex-direction: column;
        align-items: center;
    }
    
}

/* Responsive navigation menu for mobile devices */

@media screen and (max-width: 480px) {
    
    /* Mindre header image */
    header img {
        width: 5rem;
        margin-bottom: 1rem;
    }
    
    /* Toggle menu */
    .openbtn {
        font-size: 1.5rem;
        padding: 0.3rem 0.5rem;
    }

    /* Dobbeltsjekk slideshow og footer ved nye bilder */

    /* Neste- og tilbakeknapper */
    .knapp-tilbake, .knapp-neste {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }

    /* Footer */
    .rad-footer {
        visibility: hidden;
    }
    
}